<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <div class="form-container">
      <form action="/new" method="POST">
        <label for="name">your name</label>
        <input type="text" id="name" name="name" maxlength="20" placeholder="Whisker" required>

        <div class="counter-container">
          <label for="message">your tiny talkie</label>
          <span class="counter"><span id="charCount">0</span> / 150</span>
        </div>

        <textarea name="message" id="message" cols="30" rows="10" maxlength="150" placeholder="Fun fact - a group of cats is called a clowder!ðŸ˜¸ðŸ¾" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required></textarea>
        <button class="post-button"><i class="fa-solid fa-paper-plane"></i> post</button>
      </form>
      <a href="/"><button class="back-button"><i class="fa-solid fa-house"></i> back</button></a>
    </div>
  </main>
  <script src="/javascripts/charCount.js"></script>
  <%- include('./partials/footer') %>
</body>

</html>