@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Sacramento&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-image: url('../images/background.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-width: 350px;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 0.75em;
  color: #ffffff;
  text-align: center;
  flex-wrap: nowrap;
  min-width: inherit;
  pointer-events: none;
  border-bottom: 2px solid #000000;
}

.display {
  font-family: 'Montserrat', sans-serif;
}

.handwritten {
  font-family: 'Sacramento', cursive;
  color: #ffffff;
}

.header-title {
  font-size: 3rem;
  font-weight: 800;
}

.header-message {
  font-size: 2.5em;
}

.fa-comments {
  color: #F2BA1D;
}

/* Main */

main {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.add-button {
  background-color: #E83A47;
  color: #ffffff;
  border: 1px solid #8b232b;
  border-radius: 50px;
  padding: 0.5em;
  font-weight: 700;
  font-size: 1.75em;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  letter-spacing: 2px;
  position: fixed;
  bottom: 50px;
  right: 0;
}

.add-button:hover,
.back-button:hover,
.post-button:hover {
  scale: 1.05;
  filter: saturate(1.25);
}

.back-button,
.post-button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}

.back-button {
  background-color: #E83A47;
  color: #ffffff;
  padding: 0.5em 2em;
  border: 1px solid #8b232b;
  cursor: grab;
  font-size: 1em;
  font-weight: 600;
}

.post-button {
  background-color: #F2BA1D;
  color: #ffffff;
  border: 1px solid #daa71a;
  padding: 0.5em 2em;
  width: 65%;
  cursor: grab;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5em;
  border-radius: 5px;
  gap: 1em;
  margin: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  margin-bottom: 2em;
}

textarea {
  resize: none;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 0.5em;
  font-size: 1em;
  color: #000000;
}

label {
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.counter {
  color: #F2BA1D;
  font-size: 15px;
  width: 80px;
}

.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}

/* Messages display */

.messages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
  flex-wrap: wrap;
  gap: 2em;
  padding-top: 2em;
}

.message {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 325px;
  width: 325px;
  height: 275px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}

.cursive-span {
  font-family: 'Sacramento', cursive;
  font-size: 1.75em;
  color: #4a4a4a;
  font-weight: 400;
}

.message-header {
  font-size: 1.25em;
  align-self: flex-start;
  word-break: break-word;
  color: #E83A47;
  font-weight: 600;
}

.message-body {
  text-align: justify;
  color: #131313;
  font-weight: 500;
  word-break: break-word;
}

.message-date {
  align-self: flex-end;
  color: #5d5d5d;
  font-weight: 400;
  font-style: italic;
}

/* Footer */

footer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  gap: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #000000;
}

.fa-github {
  font-size: 20px;
  color: #F2BA1D;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}